@layer utilities {
  .font-500 {
    font-weight: 500;
  }

  .font-600 {
    font-weight: 600;
  }

  .font-700 {
    font-weight: 700;
  }

  .font-800 {
    font-weight: 800;
  }

  .font-900 {
    font-weight: 900;
  }

  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}